<!-- <p> -->
  <!-- <img src="./assets/images/produits/cast-chain.jpg" class="img-fluid img-thumbnail {{ cssclass }}"> -->
  <!-- <img src="./assets/images/produits/cast-chain.jpg" class="img-fluid img-thumbnail redimmedium"> -->
  <!-- <img src="./assets/images/produits/{{ image }}" class="img-fluid img-thumbnail redimmedium"> -->
  <!-- <img src="./assets/images/produits/{{ image }}" class="img-fluid img-thumbnail redimmedium"> -->
  <!-- <img src="./assets/images/produits/{{ image }}" alt="{{ imgalt }}" class="img-fluid img-thumbnail {{ cssclass }}"> -->
  <!-- <img src="{{ imgPath }}{{ image }}" alt="{{ imgalt }}" class="img-fluid img-thumbnail {{ cssclass }}"> -->
  <!-- <img src="{{ imgPath }}{{ image }}" alt="{{ imgalt }}" class="img-responsive {{ cssclass }}"> -->
  <img src="{{ imgPath }}{{ image }}" alt="{{ imgalt }}" class="{{ cssclass }}">  
<!-- </p> -->
