<h2>Déjà client </h2>

<ngb-alert type="danger" (close)="invalidLoginAlert=false" *ngIf="invalidLoginAlert"><strong>Connexion impossible.</strong><br> Veuillez vérifier votre e-mail ou mot de passe.</ngb-alert>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="form-group">
    <label for="login-email">E-mail :</label>
    <input type="email" class="form-control" formControlName="email" [class.is-invalid]="loginForm.get('email').touched && loginForm.get('email').errors" id="login-email">
    <div *ngIf="loginForm.get('email').touched && loginForm.get('email').errors" class="text-danger">
      <div *ngIf="loginForm.get('email').errors.required">Veuillez saisir votre adresse e-mail.</div>
      <div *ngIf="loginForm.get('email').errors.email">Veuillez saisir une adresse e-mail valide.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="login-password">Mot de passe :</label>
    <input type="password" class="form-control" formControlName="password" [class.is-invalid]="loginForm.get('password').touched && loginForm.get('password').errors" id="login-password">
    <div *ngIf="loginForm.get('password').touched && loginForm.get('password').errors" class="text-danger">
      <div *ngIf="loginForm.get('password').errors.required">Veuillez saisir votre mot de passe.</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Connexion</button>

</form>
