<!-- <app-product></app-product> -->

<ngb-carousel class="carousel-div">
    <ng-template ngbSlide>
      <img src="./assets/images/produits/cast-metaljpg.jpg" alt="Cast metal">
      <div class="carousel-caption">
        <h3>Cast metal</h3>
        <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="./assets/images/produits/wooden-puzzle.jpg" alt="Wooden puzzle">
      <div class="carousel-caption">
        <h3>Wooden puzzle</h3>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="./assets/images/produits/wooden-ball-lock.jpg" alt="Wooden ball lock">
      <div class="carousel-caption">
        <h3>Cast metal</h3>
        <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
      </div>
    </ng-template>
  </ngb-carousel>
